@font-face {
    font-family: PixelFont;
    src: url(Unibody8Pro-Regular.otf);	
}
	
#header	
{
	margin: auto;
	width: 550px;
	border: none;
	background-color: #1F466D;
	border-top: 3px solid #D4FF0D;
	border-bottom: 3px solid #D4FF0D;
	color:#f26b31;
	
}

#header h1{
	text-align:center;	
	font-family: PixelFont;
	font-size: 30px;
	font-weight: 400;
	line-height: 26.4px			
}

body 
{ 
	background-image: url("WallpaperTetris.jpg");	
}

p 
{ 
	text-align: center;	
}

#tela
{
	background-color: #000000;
	border: solid #1E456C 2px;
	width:340px;
	height:540px;
}

#informacaojogo
{
	background-color: #F1D951;
	border: 2px solid #1E456C;
	border-radius:4px;
	width: 350px;
	height: 400px;
	margin-top: -565px;
	margin-right:100px;
	float: right;
	padding: 15px;	
	box-shadow: 6px 10px 0px 0px rgba(0,0,0,0.05);
}

#informacaojogo p{

	text-align: left; 
	font-family: PixelFont;
	line-height: 26.4px;
	font-size: 20px;
	color: #000000;	
}

div.info{
	width: 180px;
	height: 60px;
	margin: 20px;	
}

#informacaojogo2
{
	background-color: #F1D951;
	border: 2px solid #1E456C;	
	border-radius:4px;
	width: 350px;
	height: 400px;
	margin:auto;
	margin-top:-565px;
	margin-left: 100px;	
	float:left;
	padding: 15px;		
	box-shadow: 6px 10px 0px 0px rgba(0,0,0,0.05);
	overflow:hidden;
}

#informacaojogo2 p{
	text-align: left; 
	font-family: PixelFont;
	line-height: 26.4px;
	font-size: 14px;
	color: #000000;	
}

table, td, th{
	border: 1px solid #000;
    text-align: left;
}

table{
	border-collapse: collapse;
	font-family: PixelFont;
	font-size: 13px;
	color: #000000;	
}

.meubotao {
	background-color:white;	
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#282c34;
	font-family: PixelFont;
	font-size:12px;
	font-weight: 400;
	padding:11px 15px;
	text-decoration:none;
}
.meubotao:hover {
	background-color:white;
}
.meubotao:active {
	position:relative;
	top:1px;
}

